<div class="wrapper" kbGraphLink [verticalGap]="20" [horizontalGap]="20">
  <div id="1" kbGraphLinkNode=""></div>
  <div id="2" kbGraphLinkNode=""></div>
  <div id="3" kbGraphLinkNode=""></div>
  <div id="4" kbGraphLinkNode=""></div>
  <div id="5" kbGraphLinkNode=""></div>
  <div id="6" kbGraphLinkNode=""></div>
  <div id="7" kbGraphLinkNode=""></div>
  <div id="8" kbGraphLinkNode=""></div>
  <div id="9" kbGraphLinkNode=""></div>
  <div id="10" kbGraphLinkNode=""></div>
  <div id="11" kbGraphLinkNode=""></div>
  <div id="12" kbGraphLinkNode=""></div>
  <div id="13" kbGraphLinkNode=""></div>
  <div id="14" kbGraphLinkNode=""></div>
  <div id="16" kbGraphLinkNode=""></div>
  <div id="17" kbGraphLinkNode=""></div>
  <div id="18" kbGraphLinkNode=""></div>
  <div id="19" kbGraphLinkNode=""></div>
  <div id="20" kbGraphLinkNode=""></div>
  <div id="21" kbGraphLinkNode=""></div>
</div>
